/*
 * INDEX
 */
#index {
    margin-top: -5px;
}


#about-me p,
#web-developer p,
#free-software p,
#knowledge p,
#this-website p,
#some-links p {
    margin-left: 50px;
}

.index-icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-indent: -9999em;
    overflow: hidden;
    float: left;
}

.index-icon-document {
    background: url(../images/index-icons.png) no-repeat 0 0;
}

.index-icon-books {
    background: url(../images/index-icons.png) no-repeat -40px -0;
}

.index-icon-linux {
    background: url(../images/index-icons.png) no-repeat -80px 0;
}

.index-icon-sign {
    background: url(../images/index-icons.png) no-repeat -120px 0;
}


/*
 * FINE TUNING
 */
@media (min-width: 768px) {
    #index {
        margin-top: 0;
    }
}
