#about-me,
#web-developer,
#free-software,
#knowledge,
#this-website,
#some-links {
    padding-top: 20px;
    padding-bottom: 20px;
}

#about-me p,
#web-developer p,
#free-software p,
#knowledge p,
#this-website p,
#some-links p {
    margin-left: 50px;
}

.index-icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-indent: -9999em;
    overflow: hidden;
    float: left;
}

.index-icon-person {
    background: url(../images/index-icons.png) no-repeat 0 0;
}

.index-icon-document {
    background: url(../images/index-icons.png) no-repeat -40px 0;
}

.index-icon-linux {
    background: url(../images/index-icons.png) no-repeat -80px 0;
}

.index-icon-books {
    background: url(../images/index-icons.png) no-repeat 0 -40px;
}

.index-icon-showcase {
    background: url(../images/index-icons.png) no-repeat -40px -40px;
}

.index-icon-sign {
    background: url(../images/index-icons.png) no-repeat -80px -40px;
}
