/*
 * BLOCKS
 */
#block-aboutme,
#block-technologies {
    padding-top: 10px;
    padding-bottom: 20px;
}

.block h3 {
    text-align: center;
}

/*
 * ABOUT ME
 */
#block-aboutme ul {
    list-style-type: none;
    padding-left: 0;
}

#block-aboutme li {
    margin-bottom: 15px;
    padding-top: 2px;
    padding-left: 32px;
}

.icon-user {
    background: url(../images/icon-user.png) no-repeat left top;
}

.icon-web-dev {
    background: url(../images/icon-web-app.png) no-repeat left top;
}

.icon-desktop-dev {
    background: url(../images/icon-desktop-app.png) no-repeat left top;
}

.icon-server {
    background: url(../images/icon-server.png) no-repeat left top;
}


/*
 * TECHNOLOGIES
 */
#block-technologies img {
    display: block;
    margin: 0 auto;
}
