app/bootstrap*
app/cache/*
app/config/deploy.rb
app/config/parameters.yml
app/logs/*
bin/*
doc/*
*.sh
src/AitorGarcia/*Bundle/Tests/
vendor/*
web/bundles/*
web/components/*
web/css/min/*
web/js/min/*
web/files/project-screenshots/*
Capfile
