{% extends "::base_admin.html.twig" %}

{% block stylesheets %}
{% stylesheets filter="cssrewrite,?yui_css" output='css/min/backend-*.css'
    'css/base.css'
    'bundles/aitorgarciamain/css/admin_index.css'
%}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block infotext %}{{ 'admin.overview.title' | trans }}{% endblock %}

{% block page %}
<div id="admin-index" class="row">
    <div id="some-info" class="block col-sm-12">
        <p>{{ 'admin.overview.paragraph.some_info' | trans }}</p>
    </div>
</div>

{% endblock %}
