<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Aitor García{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <div id="header">
            <div class="maxwidth">
            {% block header %}{% endblock %}
            </div>
        </div>
        <div id="subnavigation">
            <div class="maxwidth">
            {% block subnavigation %}{% endblock %}
            </div>
        </div>
        <div id="page">
            <div class="maxwidth">
            {% block page %}{% endblock %}
            </div>
        </div>
        {% block footer %}{% endblock %}
    </body>
</html>
