/*
 * CONTACT
 */
#contact {
    margin-top: -5px;
}

#contact-form textarea {
    min-height: 120px;
}


/*
 * FINE TUNING
 */
@media (min-width: 768px) {
    #contact {
        margin-top: 0;
    }
}
