{% extends "::base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/portfolio/css/main.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/portfolio/css/admin.css') }}" />
{% endblock %}

{% block header %}
    <h1>Aitor García » Backend</h1>
    <ul id="navigation">
    {% block navigation %}{% endblock %}
    </ul>
    <div class="clear"></div>
{% endblock %}
