{% extends "::base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/portfolio/css/main.css') }}" />
{% endblock %}

{% block header %}
    <h1>Aitor García</h1>
    <ul id="languages">
        <li id="lang-es" class="active"><a href="#">Español</a></li>
        <li id="lang-en"><a href="#">English</a></li>
    </ul>
    <ul id="navigation">
    {% block navigation %}
        <li class="active"><a href="{{ path('index') }}#">Portada</a></li>
        <li><a href="{{ path('project_list') }}">Proyectos</a></li>
        <li><a href="#">Contacto</a></li>
    {% endblock %}
    </ul>
    <div class="clear"></div>
{% endblock %}
