{% extends "::base.html.twig" %}

{% if form is defined %}
{% form_theme form 'PortfolioBundle:Form:fields.html.twig' %}
{% endif %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/portfolio/css/main.css') }}" />
{% endblock %}

{% block header %}
    <h1>Aitor García</h1>
    <ul id="navigation">
    {% block navigation %}
    {% endblock %}
    </ul>
    <div class="clear"></div>
{% endblock %}

{% block footer %}
{% if app.request.locale == 'es' %}
<span>Español</span> <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params') | merge({'locale': 'en'})) }}">English</a>
{% else %}
<a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params') | merge({'locale': 'es'})) }}">Español</a> <span>English</span>
{% endif %}
{% endblock %}
