{% extends "::layout.html.twig" %}

{% block stylesheets %}
{% stylesheets filter="cssrewrite,?yui_css" output='css/backend-*.css'
    'css/main.css'
%}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block subnavigation %}
<h2>{{ 'admin.subnavigation.index' | trans }}</h2>
{{ parent() }}
{% endblock %}

{% block page %}
<p>{{ 'admin.paragraph.some_info' | trans }}</p>
{% endblock %}
