{% extends "::layout.html.twig" %}

{% block stylesheets %}
{% stylesheets filter="cssrewrite,?yui_css" output='css/backend-*.css'
    'css/main.css'
%}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block subnavigation %}
<h2>¡Bienvenido al panel de administración!</h2>
{% endblock %}

{% block page %}
<p>Aquí se puede añadir información sobre el funcionamiento del panel de administración.</p>
{% endblock %}
