/*
 * LOGIN
 */
#login {
    margin-top: -5px;
}

#login .block {
    padding-top: 0;
    padding-bottom: 0;
}


/*
 * FINE TUNING
 */
@media (min-width: 768px) {
    #login {
        margin-top: 5px;
    }
}
