select.form-control {
    min-height: 150px;
    padding: 5px;
}

.checkbox {
    margin-top: 0;
    margin-bottom: 15px;
}

.checkbox input[type="checkbox"] {
    margin-left: 0;
    margin-right: 5px;
}

input[type="file"] {
    width: 100%;
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 3px;
}

form h2 {
    font-size: 16px;
    margin-left: 15px;
    margin-bottom: 5px;
}

form .form-group {
    margin-bottom: 20px;
    padding-top: 0;
    padding-bottom: 0;
}

form .form-group .alert {
    margin: 10px 0;
}

#form-actions {
    border-top: 1px dotted #ddd;
    margin-top: 10px;
    padding-top: 25px;
    text-align: center;
}

#form-actions > .btn {
    margin: 5px 6px 5px 0;
}

/*
 * FINE TUNING
 */
@media (min-width: 768px) {
    #form-actions {
        text-align: left;
        margin-bottom: 0;
        padding-top: 30px;
    }

    #form-actions > .btn {
        margin-top: 0;
    }
}
