@charset "utf-8";

@media handheld, projection, screen, tv {
    /*
     * RESET
     */
    body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,button {
        margin: 0;
        padding: 0;
    }

    /*
     * MAIN
     */
    body {
        background-color: #181818;
        font-family: sans-serif;
        font-size: 0.875em;    /* 14px */
        line-height: 1.4286em; /* 20px */
    }

    h1 {
        color: #f5f5f5;
        font-family: serif;
        font-size: 2.2857em;
        line-height: 2.5em;
        font-weight: normal;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    }
    
    h2 {
        font-size: 1.4285em;
        line-height: 1.25em;
        font-weight: normal;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
        margin-bottom: 1em;
    }

    h3 {
        font-size: 1.2857em;
        line-height: 1.25em;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
        margin-bottom: 1em;
    }
    
    a {
        color: #1144bb;
        text-decoration: none;
    }

    a:hover {
        color: #222;
        text-decoration: underline;
    }

    p {
        margin: 0 0 1em 0;
    }

    .maxwidth {
        max-width: 940px;
        margin: 0 auto;
        padding: 0 10px;
        position: relative;
    }

    /*
     * HEADER
     */
    #header {
        background-color: #202020;
        background-image:    -moz-linear-gradient(top, #404040 0%, #202020 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #404040), color-stop(100%, #202020));
        background-image: -webkit-linear-gradient(top, #404040 0%, #202020 100%);
        background-image:      -o-linear-gradient(top, #404040 0%, #202020 100%);
        background-image:     -ms-linear-gradient(top, #404040 0%, #202020 100%);
        background-image:         linear-gradient(to bottom, #404040 0%, #202020 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#404040, endColorstr=#202020);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#404040, endColorstr=#202020)";
    }

    /*
     * NAVIGATION
     */
    #navigation {
        font-size: 1.1429em;
        line-height: 1.25em;
        list-style: none;
        float: right;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 0;
        bottom: 0px;
    }
    
    #navigation li {
        margin-left: 0.5em;
        float: left;
    }
    
    #navigation li a {
        color: #999999;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 0.5em 1em;
        display: block;
    }
    
    #navigation li.active a,
    #navigation li a:hover {
        background-color: #eaeaea;
        background-image:    -moz-linear-gradient(top, #f5f5f5 0%, #eaeaea 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eaeaea));
        background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #eaeaea 100%);
        background-image:      -o-linear-gradient(top, #f5f5f5 0%, #eaeaea 100%);
        background-image:     -ms-linear-gradient(top, #f5f5f5 0%, #eaeaea 100%);
        background-image:         linear-gradient(to bottom, #f5f5f5 0%, #eaeaea 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f5f5f5, endColorstr=#eaeaea);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f5f5f5, endColorstr=#eaeaea)";
        color: #222222;
        text-decoration: none;
    }

    /*
     * SUBNAVIGATION
     */
    #subnavigation {
        min-height: 3px;
        background-color: #eaeaea;
        background-image:    -moz-linear-gradient(top, #eaeaea 0%, #e0e0e0 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaeaea), color-stop(100%, #e0e0e0));
        background-image: -webkit-linear-gradient(top, #eaeaea 0%, #e0e0e0 100%);
        background-image:      -o-linear-gradient(top, #eaeaea 0%, #e0e0e0 100%);
        background-image:     -ms-linear-gradient(top, #eaeaea 0%, #e0e0e0 100%);
        background-image:         linear-gradient(to bottom, #eaeaea 0%, #e0e0e0 100%);
        color: #333;
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#eaeaea, endColorstr=#e0e0e0);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#eaeaea, endColorstr=#e0e0e0)";
        padding: 1px 0;
        border-bottom: 1px solid #ddd;
    }

    #subnavigation h2 {
        font-style: italic;
        margin: 0.75em 0;
        display: inline-block;
    }
    
    #subnavigation ul {
        font-size: 0.8571em;
        list-style: none;
    }
    
    #subnavigation li {
        margin: 0 1em 0 0;
        float: left;
    }

    #subnavigation li a {
        color: #333;
        text-decoration: none;
        padding: 5px 10px;
        display: block;
    }

    #subnavigation li.active a,
    #subnavigation li a:hover {
		background-color: #1965a6;
		background-image:    -moz-linear-gradient(top, #2e8eda 0%, #1965a6 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2e8eda), color-stop(100%, #1965a6));
		background-image: -webkit-linear-gradient(top, #2e8eda 0%, #1965a6 100%);
		background-image:      -o-linear-gradient(top, #2e8eda 0%, #1965a6 100%);
		background-image:     -ms-linear-gradient(top, #2e8eda 0%, #1965a6 100%);
		background-image:         linear-gradient(to bottom, #2e8eda 0%, #1965a6 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#2e8eda, endColorstr=#1965a6);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#2e8eda, endColorstr=#1965a6)";
		color: #fff;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    #subnavigation ul.actions {
        float: left;
        display: inline-block;
        margin: 1em 0;
    }

    #lang-selector {
        float: right;
        display: inline-block;
        margin: 1em 0;
    }

    #lang-selector li {
        margin: 0 0 0 0.5em;
    }

    /*
     * PAGE
     */
    #page {
        min-height: 300px;
        background-color: #f5f5f5;
        color: #222;
        padding: 2em 0 3em 0;
    }

    /*
     * FOOTER
     */
    #footer {
        background-color: #181818;
        color: #fff;
        padding: 1em 0;
    }

    #footer a {
        color: #aaa;
    }

    #footer a:hover {
        color: #44bbff;
        text-decoration: underline;
    }

    #social-icons {
        list-style: none;
        float: left;
    }

    #social-icons li {
        float: left;
        margin-right: 0.5em;
    }

    #social-icons a {
        width: 32px;
        height: 32px;
        text-indent: -9999px;
        overflow: hidden;
        display: block;
    }

    #icon-github {
        background-image: url(../images/social-icons.png);
        background-position: left top;
    }

    #icon-github:hover {
        background-position: left bottom;
    }

    #icon-bitbucket {
        background-image: url(../images/social-icons.png);
        background-position: -32px top;
    }

    #icon-bitbucket:hover {
        background-position: -32px bottom;
    }

    #icon-masterbranch {
        background-image: url(../images/social-icons.png);
        background-position: -64px top;
    }

    #icon-masterbranch:hover {
        background-position: -64px bottom;
    }

    #icon-linkedin {
        background-image: url(../images/social-icons.png);
        background-position: right top;
    }

    #icon-linkedin:hover {
        background-position: right bottom;
    }

    #more-info {
        float: right;
        line-height: 32px;
    }

    /*
     * BUTTONS
     */
     button,
    .button-img,
    .button {
		font-family: sans-serif; /* Igual que <body> */
		background-color: #eee;
		background-image:    -moz-linear-gradient(top, #fafafa 0%, #e0e0e0 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #e0e0e0));
		background-image: -webkit-linear-gradient(top, #fafafa 0%, #e0e0e0 100%);
		background-image:      -o-linear-gradient(top, #fafafa 0%, #e0e0e0 100%);
		background-image:     -ms-linear-gradient(top, #fafafa 0%, #e0e0e0 100%);
		background-image:         linear-gradient(to bottom, #fafafa 0%, #e0e0e0 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fafafa, endColorstr=#e0e0e0);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fafafa, endColorstr=#e0e0e0)";
		color: #444;
		text-align: center;
		text-decoration: none;
		border: 1px solid #ccc;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		cursor: pointer;
    }

    .button-img {
        width: 20px;
        height: 20px;
        padding: 4px;
        display: inline-block;
        zoom: 1;
        *display: inline;
    }
    
    .button-img img {
        vertical-align: middle;
    }

	.button:active {
		background-color: #dadada;
		background-image:    -moz-linear-gradient(top, #dadada 0%, #f0f0f0 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dadada), color-stop(100%, #f0f0f0));
		background-image: -webkit-linear-gradient(top, #dadada 0%, #f0f0f0 100%);
		background-image:      -o-linear-gradient(top, #dadada 0%, #f0f0f0 100%);
		background-image:     -ms-linear-gradient(top, #dadada 0%, #f0f0f0 100%);
		background-image:         linear-gradient(to bottom, #dadada 0%, #f0f0f0 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#dadada, endColorstr=#f0f0f0);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#dadada, endColorstr=#f0f0f0)";
        -moz-box-shadow:    inset 0 0 3px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
        box-shadow:         inset 0 0 3px rgba(0, 0, 0, 0.3);
	}

    .button:hover {
        text-decoration: none;
    }

    button,
	input.button {
		padding: 5px 7px;  /* Comprobar si en varios navegadores hay misma diferencia de 3px */
	}

    a.button {
        padding: 6px 10px;
    }

    .buttons-left {
        float: left;
    }

    .buttons-left a {
        float: left;
        margin-right: 0.25em;
    }

    .buttons-right {
        float: right;
    }

    .buttons-right a {
        float: left;
        margin-left: 0.25em;
    }

    /*
     * MESSAGES
     */
    .message-success {
        background-color: #bfffc4;
        border: 1px solid #8cff96;
        padding: 0.5em;
        margin-bottom: 1em;
    }

    .message-error {
        background-color: #ffbfbf;
        border: 1px solid #ff8c8c;
        padding: 0.5em;
        margin: 0.5em 0;
    }

    .message-error li{
        font-style: italic;
        margin-left: 1em;
    }

    #login-error {
        margin-top: 0;
        margin-bottom: 1em;
    }

    /*
     * OTHERS
     */
    .centered {text-align: center;}
    .left {float: left;}
    .right {float: right;}
    .clear {clear: both}
}
