.table {
    font-size: 14px;
}
.table thead > tr > th {
    background-color: #f0f0f0;
    border-bottom: none;
}

.table tbody > tr > td {
    white-space: nowrap;
    vertical-align: middle;
}

.table th,
.table td {
    min-width: 50px;
}

.table .shrink {
    width: 1px;
}

.table .expand {
    width: 100%;
}
