@charset "utf-8";

@media handheld, projection, screen, tv {
    #screenshots {
        margin: 0.5em 0;
    }

    #screenshots ._100 {
        margin: 0.25em 2%;
    }

    #screenshots input[type="text"] {
        margin: 0;
        width: 40%;
        margin-right: 0.5em;
        margin-top: 2px;
        margin-bottom: 2px;
    }
}
