/*
 * PROJECT LIST
 */
#project-list .table {
    margin-bottom: 0;
}

a.btn-locale {
    width: 34px;
    height: 34px;
    text-align: center;
    padding: 6px;
}


/*
 * CREATE/EDIT/DELETE PROJECT
 */
#project-create,
#project-edit,
#project-delete {
    margin-top: -5px;
}

#project-delete .block {
    padding-top: 0px;
    margin-bottom: 15px;
}

#screenshots {
    padding: 0;
}

#screenshots .alert {
    margin-top: 0;
    margin-bottom: 15px;
}

#screenshots .form-group {
    margin-bottom: 15px;
}

#screenshots-actions {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
    padding-top: 0;
    padding-bottom: 0;
}

.screenshot {
    margin-left: 0;
    margin-right: 0;
}

.screenshot-actions {
    text-align: right;
    margin-bottom: 15px;
    padding-top: 0;
    padding-bottom: 0;
}


/*
 * EDIT PROJECT TRANSLATION
 */
#project-translation-edit {
    padding-top: 10px;
    padding-bottom: 10px;
}


/*
 * FINE TUNING
 */
@media (min-width: 768px) {
    #project-list,
    #project-create,
    #project-edit,
    #project-delete {
        margin-top: 0;
    }
}

@media (min-width: 992px) {
    #screenshots-actions {
        text-align: right;
    }
}
