/*
 * PROJECT LIST
 */
#project-list {
    padding-top: 20px;
    padding-bottom: 20px;
}

#project-list .table {
    margin-bottom: 0;
}

a.btn-lang {
    width: 34px;
    height: 34px;
    text-align: center;
    padding: 6px;
}


/*
 * CREATE/EDIT/DELETE PROJECT
 */
#project-create,
#project-edit,
#project-delete {
    padding-top: 10px;
    padding-bottom: 10px;
}

#project-delete .block {
    padding-top: 0px;
    margin-bottom: 15px;
}

#screenshots {
    padding: 0;
}

#screenshots-actions {
    text-align: right;
    margin-bottom: 15px;
    padding-top: 0;
    padding-bottom: 0;
}

.screenshot {
    margin-left: 0;
    margin-right: 0;
}

.screenshot-actions {
    text-align: right;
    margin-bottom: 15px;
    padding-top: 0;
    padding-bottom: 0;
}


/*
 * EDIT PROJECT TRANSLATION
 */
#project-translation-edit {
    padding-top: 10px;
    padding-bottom: 10px;
}
