@charset "utf-8";

@media handheld, projection, screen, tv {
    body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote {
        margin: 0;
        padding: 0;
    }
    
    body {
        font-family: sans-serif;
        font-size: 0.875em;        /* 14px */
        line-height: 1.4286em;    /* 20px */
    }

    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.7143em;
        line-height: 1.25em;
        font-weight: normal;
        margin: 20px 0 0.5em 0;
    }
    
    a {
        color: #000088;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    p {
        margin: 0 0 1em 0;
    }
    
    .maxwidth {
        max-width: 960px;
        margin: 0 auto;
        padding: 0 10px;
    }
    
    #header {
        background-color: #181818;
        background-image:    -moz-linear-gradient(top, #404040 0%, #181818 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #404040), color-stop(100%, #181818));
        background-image: -webkit-linear-gradient(top, #404040 0%, #181818 100%);
        background-image:      -o-linear-gradient(top, #404040 0%, #181818 100%);
        background-image:     -ms-linear-gradient(top, #404040 0%, #181818 100%);
        background-image:         linear-gradient(to bottom, #404040 0%, #181818 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#404040, endColorstr=#181818);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#404040, endColorstr=#181818)";
        -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    }
    
    #header h1 {
        color: #f0f0f0;
        font-size: 2em;
        font-weight: normal;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
        line-height: 60px;
        margin: 10px 0;
        display: inline-block;
    }
    
    #languages {
        float: right;
        list-style: none;
    }
    
    #languages li {
        background-color: #111111;
        display: inline;
        margin: 25px 0;
        float: left;
    }
    
    #languages li.active {
        background-color: #e0e0e0;
    }
    
    #languages li.active a {
        color: #222222;
    }

    #languages li a {
        color: #f5f5f5;
        text-decoration: none;
        line-height: 30px;
        padding: 0 7px;
        display: block;
    }

    #languages li a:hover {
        background-color: #e0e0e0;
        color: #222222;
    }

    #lang-es,
    #lang-es a {
        -webkit-border-top-left-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-bottomleft: 5px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    #lang-en,
    #lang-en a {
        -webkit-border-top-right-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -moz-border-radius-topright: 5px;
        -moz-border-radius-bottomright: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    #navigation {
        font-size: 1.1429em;
        line-height: 1.25em;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    #navigation li {
        margin-right: 0.5em;
        float: left;
    }
    
    #navigation li a {
        background-color: #181818;
        background-image:    -moz-linear-gradient(top, #151515 0%, #0a0a0a 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #151515), color-stop(100%, #0a0a0a));
        background-image: -webkit-linear-gradient(top, #151515 0%, #0a0a0a 100%);
        background-image:      -o-linear-gradient(top, #151515 0%, #0a0a0a 100%);
        background-image:     -ms-linear-gradient(top, #151515 0%, #0a0a0a 100%);
        background-image:         linear-gradient(to bottom, #151515 0%, #0a0a0a 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#151515, endColorstr=#0a0a0a);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#151515, endColorstr=#0a0a0a)";
        color: #aaaaaa;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 0.5em 1em;
        display: block;
    }
    
    #navigation li.active a,
    #navigation li a:hover {
        background-color: #eaeaea;
        background-image:    -moz-linear-gradient(top, #f5f5f5 0%, #eaeaea 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eaeaea));
        background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #eaeaea 100%);
        background-image:      -o-linear-gradient(top, #f5f5f5 0%, #eaeaea 100%);
        background-image:     -ms-linear-gradient(top, #f5f5f5 0%, #eaeaea 100%);
        background-image:         linear-gradient(to bottom, #f5f5f5 0%, #eaeaea 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f5f5f5, endColorstr=#eaeaea);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f5f5f5, endColorstr=#eaeaea)";
        color: #222222;
        text-decoration: none;
    }
    
    #subnavigation {
        background-color: #eaeaea;
        background-image:    -moz-linear-gradient(top, #eaeaea 0%, #e0e0e0 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaeaea), color-stop(100%, #e0e0e0));
        background-image: -webkit-linear-gradient(top, #eaeaea 0%, #e0e0e0 100%);
        background-image:      -o-linear-gradient(top, #eaeaea 0%, #e0e0e0 100%);
        background-image:     -ms-linear-gradient(top, #eaeaea 0%, #e0e0e0 100%);
        background-image:         linear-gradient(to bottom, #eaeaea 0%, #e0e0e0 100%);
        color: #333;
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#eaeaea, endColorstr=#e0e0e0);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#eaeaea, endColorstr=#e0e0e0)";
        border-bottom: 1px solid #dddddd;
        padding: 1px 0;
    }
    
    #subnavigation p {
        font-size: 1.1429em;
        font-style: italic;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        margin: 1em;
    }
    
    #subnavigation ul {
        font-size: 0.8571em;
        list-style: none;
    }
    
    #subnavigation li {
        margin: 1em 1em 1em 0;
        float: left;
    }

    #subnavigation li a {
        color: #333;
        text-decoration: none;
        padding: 4px 10px;
        display: block;
    }

    #subnavigation li.active a,
    #subnavigation li a:hover {
        background-color: #1c6cab;
        background-image:    -moz-linear-gradient(top, #1c89df 0%, #1c6cab 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1c89df), color-stop(100%, #1c6cab));
        background-image: -webkit-linear-gradient(top, #1c89df 0%, #1c6cab 100%);
        background-image:      -o-linear-gradient(top, #1c89df 0%, #1c6cab 100%);
        background-image:     -ms-linear-gradient(top, #1c89df 0%, #1c6cab 100%);
        background-image:         linear-gradient(to bottom, #1c89df 0%, #1c6cab 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#1c89df, endColorstr=#1c6cab);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#1c89df, endColorstr=#1c6cab)";
        color: #fff;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    
    #page {
        background-color: #f5f5f5;
        color: #222;
        padding: 1em 0;
                min-height: 400px;
    }

    #page h2 {
        font-size: 1.5em;
        font-weight: bold;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
        margin-top: 1em;
    }

    #footer {
        background-color: #181818;
        color: #f0f0f0;
        padding: 10px 0;
                min-height: 60px;
    }

    /*
     * FORMS
     */
	fieldset {
		border: 1px solid #bbb;
		margin: 0 0 1.5em 0;
		padding: 0% 1% 1% 1%;
	}

	legend {
		font-size: 1.142em;
		line-height: 1.25em;
		font-weight: normal;
		margin-left: 1%;
		padding: 0 0.5em;
	}

    label {
        width: 100%;
        font-weight: bold;
    }

	input,
	textarea,
	select {
		color: #333;
		border: 1px solid #bbb;
	}

    textarea {
        min-height: 150px;
    }

    fieldset input[type="text"],
    fieldset textarea,
    fieldset select {
        width: 100%;
        -moz-border-radius: 3px;
        margin-top: 3px;
    }

    fieldset input[type="text"],
    fieldset textarea {
        padding: 2px;
    }

    fieldset .date select {
        width: 33%;
    }

    fieldset ._25,
    fieldset ._50,
    fieldset ._75,
    fieldset ._100 {
        margin: 0.75em 2%;
        display: inline;
        float: left;
    }

    fieldset ._25 {width: 21%;}
    fieldset ._50 {width: 46%;}
    fieldset ._75 {width: 71%;}
    fieldset ._100 {width: 96%;}

    /*
     * BUTTONS
     */
     button,
    .button-img,
    .button {
		font-family: sans-serif; /* Igual que <body> */
		background-color: #eee;
		background-image:    -moz-linear-gradient(top, #fafafa 0%, #e0e0e0 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #e0e0e0));
		background-image: -webkit-linear-gradient(top, #fafafa 0%, #e0e0e0 100%);
		background-image:      -o-linear-gradient(top, #fafafa 0%, #e0e0e0 100%);
		background-image:     -ms-linear-gradient(top, #fafafa 0%, #e0e0e0 100%);
		background-image:         linear-gradient(to bottom, #fafafa 0%, #e0e0e0 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fafafa, endColorstr=#e0e0e0);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fafafa, endColorstr=#e0e0e0)";
		color: #444;
		text-align: center;
		text-decoration: none;
		border: 1px solid #bbb;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		cursor: pointer;
    }

    .button-img {
        padding: 5px;
        display: inline-block;
        zoom: 1;
        *display: inline;
    }
    
    .button-img img {
        vertical-align: middle;
    }

	.button:active {
		background-color: #dadada;
		background-image:    -moz-linear-gradient(top, #dadada 0%, #f0f0f0 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dadada), color-stop(100%, #f0f0f0));
		background-image: -webkit-linear-gradient(top, #dadada 0%, #f0f0f0 100%);
		background-image:      -o-linear-gradient(top, #dadada 0%, #f0f0f0 100%);
		background-image:     -ms-linear-gradient(top, #dadada 0%, #f0f0f0 100%);
		background-image:         linear-gradient(to bottom, #dadada 0%, #f0f0f0 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#dadada, endColorstr=#f0f0f0);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#dadada, endColorstr=#f0f0f0)";
        -moz-box-shadow:    inset 0 0 3px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
        box-shadow:         inset 0 0 3px rgba(0, 0, 0, 0.3);
	}

    .button:hover {
        text-decoration: none;
    }

    button,
	input.button {
		margin: 0 7px 0 0; /* Comprobar si en varios navegadores hay misma diferencia de 3px */
		padding: 5px 7px;  /* Comprobar si en varios navegadores hay misma diferencia de 3px */
	}

    .buttons-left {
        float: left;
    }

    .buttons-left a {
        margin-right: 0.25em;
    }

    .buttons-right {
        float: right;
    }

    .buttons-right a {
        margin-left: 0.25em;
    }

    /*
     * OTHERS
     */
    .centered {text-align: center;}
    .left {float: left;}
    .right {float: right;}
    .clear {clear: both}
}
