/*
 * PROJECT
 */
a.project {
    text-decoration: none;
    display: block;
    position: relative;
    margin: 5px;
}

a.project > div {
    background: #444 url(../images/pattern-diamond.png) repeat;
    padding: 30px;
}

img.project-cover {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

span.project-name {
    background-color: #eee;
    color: #333;
    border: 1px solid #e5e5e5;
    display: block;
    text-align: center;
    padding: 10px;
}

a.project:hover span.project-name {
    background-color: #349ad1;
    color: #ffffff;
    border: 1px solid #349ad1;
}


/*
 * ACTIONS
 */
.btn-icon-sort,
.btn-icon-sort:active {
    background-image: url(../images/icon-sort.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 40px;
}
