{% extends "::admin_layout.html.twig" %}

{% block stylesheets %}
{% stylesheets
    'css/main.css'
    output='css/backend-*.css' filter="cssrewrite" %}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block navigation %}
<li class="active"><a href="{{ path('admin_index') }}">Portada</a></li>
<li><a href="{{ path('admin_project_list') }}">Proyectos</a></li>
<li><a href="{{ path('admin_technology_list') }}">Tecnologías</a></li>
{% endblock %}

{% block subnavigation %}
<h2>¡Bienvenido al panel de administración!</h2>
{% endblock %}

{% block page %}
<p>Aquí se puede añadir información sobre el funcionamiento del panel de administración.</p>
{% endblock %}
