{% extends "PortfolioBundle::admin_layout.html.twig" %}

{% block navigation %}
<li class="active"><a href="{{ path('admin_index') }}">Portada</a></li>
<li><a href="{{ path('admin_project_list') }}">Proyectos</a></li>
<li><a href="{{ path('admin_technology_list') }}">Tecnologías</a></li>
{% endblock %}

{% block subnavigation %}
<p>Portada del panel de administración</p>
{% endblock %}

{% block page %}
<h2>¡Bienvenido al panel de administración!</h2>
{% endblock %}
