<div class="screenshot row">
    <div class="screenshot-name form-group block col-md-5">
        {{ form_widget(screenshot.name) }}
    </div>
    <div style="display: none;">
        {{ form_widget(screenshot.path) }}
    </div>
    {{ form_widget(screenshot.weight) }}
</div>
