/*
 * COMMENT LIST
 */
#comment-list .table {
    margin-bottom: 0;
}


/*
 * EDIT COMMENT/DELETE
 */
#comment-edit,
#comment-delete {
    margin-top: -5px;
}


/*
 * FINE TUNING
 */
@media (min-width: 768px) {
    #comment-edit,
    #comment-delete {
        margin-top: 5px;
    }
}
