/*
 * POST LIST
 */
#post-list .table {
    margin-bottom: 0;
}


/*
 * CREATE/EDIT/DELETE POST
 */
#post-create,
#post-edit,
#post-delete {
    margin-top: -5px;
}


/*
 * FINE TUNING
 */
@media (min-width: 768px) {
    #post-list,
    #post-create,
    #post-edit,
    #post-delete {
        margin-top: 0;
    }
}
