/*
 * POST LIST
 */
#post-list .table {
    margin-bottom: 0;
}


/*
 * CREATE/EDIT POST
 */
#project-create,
#project-edit {
    margin-top: -5px;
}


/*
 * FINE TUNING
 */
@media (min-width: 768px) {
    #project-list,
    #project-create,
    #project-edit {
        margin-top: 0;
    }
}
